@page "/"

<PageTitle>Home</PageTitle>

<h1>Welkom bij de Blazor front-end voor de BoekenAPI!</h1>

<p>Kies in het navigatie menu boeken of schrijvers om deze te kunnen bekijken, aanmaken, wijzigen of verwijderen.</p>